<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Post</title>
  </head>
  <body>
    <a href="/posts">Go home</a><br>


    <form class="new_post" action="/posts" method="post">
      <label for="name">Post Name: </label>
      <input type="text" name="name"><br>
      <label for="content">Your Post : </label>
      <input type="text" name="content"><br>
      <!-- <input type="text" name="post[content]"><br> -->
      <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
